name: Build and Push Docker Image

on:
  workflow_run:
    workflows: ["Build Project"]
    types:
      - completed
  workflow_dispatch:

jobs:
  docker_build_push:
    if: github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set Version
        run: echo "VERSION=$(git describe --tags --always)" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./build
          file: ./build/Dockerfile
          push: true
          platforms: |
            linux/amd64
            linux/arm64
          build-args: |
            VERSION=${{ env.VERSION }}
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/openvpn-web-manager:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/openvpn-web-manager:${{ env.VERSION }}